apiVersion: apps/v1
kind: Deployment
metadata:
  name: n8n
  namespace: n8n
spec:
  replicas: 1
  selector:
    matchLabels:
      app: n8n
  template:
    metadata:
      labels:
        app: n8n
    spec:
      containers:
        - name: n8n
          image: n8nio/n8n:stable
          ports:
            - containerPort: 5678
          env:
            - name: DB_TYPE
              value: postgresdb
            - name: DB_POSTGRESDB_HOST
              value: postgres
            - name: DB_POSTGRESDB_PORT
              value: "5432"
            - name: DB_POSTGRESDB_DATABASE
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: POSTGRES_DB
            - name: DB_POSTGRESDB_USER
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: POSTGRES_USER
            - name: DB_POSTGRESDB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: POSTGRES_PASSWORD
            - name: N8N_HOST
              value: n8n.jvfl.dev
            - name: N8N_PROTOCOL
              value: https
            - name: N8N_PORT
              value: "5678"
            - name: WEBHOOK_URL
              value: https://n8n.jvfl.dev/
            - name: GENERIC_TIMEZONE
              value: America/Sao_Paulo
            - name: NODE_FUNCTION_ALLOW_BUILTIN
              value: "assert,buffer,child_process,crypto,fs,http,https,net,os,path,process,stream,url,util,vm,zlib"
            - name: NODE_FUNCTION_ALLOW_EXTERNAL
              value: "parse5,cheerio,lodash,axios,dayjs"
            - name: N8N_INSECURE_DISABLE_WEBHOOK_IFRAME_SANDBOX
              value: false
